<%
  meta title: "Services | Crossroads Global Solutions"
%>

<div class='container'>
  <h1 class='center-align'>Services</h1>
  <div class='row'>
    <div class='col s12 m6 l4'>
      <div class='card white'>
        <div class='card-content grey-text text-darken-3'
             style='height: 250px;'>
          <span class='card-title'>
            Overseas Shipping
          </span>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          </p>
        </div>
        <div class='card-action'>
          <%= link_to 'Learn More',
                      '/',
                      class:'pink-text' %>
        </div>
      </div>
    </div>
    <div class='col s12 m6 l4'>
      <div class='card white'>
        <div class='card-content grey-text text-darken-3'
             style='height: 250px;'>
          <span class='card-title'>
            Air Mail
          </span>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          </p>
        </div>
        <div class='card-action'>
          <%= link_to 'Learn More',
                      '/',
                      class:'pink-text' %>
        </div>
      </div>
    </div>
    <div class='col s12 m6 l4'>
      <div class='card white'>
        <div class='card-content grey-text text-darken-3'
             style='height: 250px;'>
          <span class='card-title'>
            Custom Logistics
          </span>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          </p>
        </div>
        <div class='card-action'>
          <%= link_to 'Learn More',
                      '/',
                      class:'pink-text' %>
        </div>
      </div>
    </div>
    <div class='col s12 m6 l4'>
      <div class='card white'>
        <div class='card-content grey-text text-darken-3'
             style='height: 250px;'>
          <span class='card-title'>
            Truckload Shipping
          </span>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          </p>
        </div>
        <div class='card-action'>
          <%= link_to 'Learn More',
                      '/',
                      class:'pink-text' %>
        </div>
      </div>
    </div>
    <div class='col s12 m6 l4'>
      <div class='card white'>
        <div class='card-content grey-text text-darken-3'
             style='height: 250px;'>
          <span class='card-title'>
            LTL Freight Shipping
          </span>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          </p>
        </div>
        <div class='card-action'>
          <%= link_to 'Learn More',
                      '/',
                      class:'pink-text' %>
        </div>
      </div>
    </div>
  </div>

</div>
