<p>
  <%= "Name: #{@name}" %>
  <br /><br />
  <%= "Email: #{@email}" %>
  <br /><br />
  <%= "Phone: #{@phone}" %>
  <br /><br />
  <%= "Quote Type: #{@quoteType}" %>
  <br /><br />
  <%= "Origin Zip: #{@fromZip}" %>
  <br /><br />
  <%= "Origin Location Type: #{@fromLocationType}" %>
  <br /><br />
  <%= "Destination Zip: #{@toZip}" %>
  <br /><br />
  <%= "Destination Location Type: #{@toLocationType}" %>
  <br /><br />
  <%= "Pieces: #{@pieces}" %>
  <br /><br />
  <%= "Weight: #{@weight}" %>
  <br /><br />
  <%= "Description: #{@description}" %>
  <br /><br />
</p>
